# Kredensial — JANGAN PERNAH di-commit
.env
Token.env
*.env
!.env.example

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Log
logs/
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
